body {
  border: 0;
  margin: 0;
}

canvas.fullwindow {
  width: 100vw;
  height: 100vh;
  display: block;
}

canvas.bordered {
  border: 2px solid #0300ff;
  border-radius: 10px;
  width: 800px;
  height: 600px;
}
